html,
body {
  overscroll-behavior: contain;
  user-select: none;
  margin: 0;
}

.root {
  display: grid;
  height: 100dvh;
  --footerHeight: calc(var(--appMainToolbarHeight) + env(safe-area-inset-bottom));
  --headerHeight: calc(var(--appMainToolbarHeight) + env(safe-area-inset-top));
  --fullScreenHeight: calc(100dvh + env(safe-area-inset-bottom) + env(safe-area-inset-top));
}
