.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.link {
  composes: exampleCard from "./ExampleCardLayout.module.css";
  text-decoration: none;
  color: inherit;
}

.linkHeader {
  composes: exampleHeader from "./ExampleCardLayout.module.css";
}

.linkTitle {
  composes: exampleTitle from "./ExampleCardLayout.module.css";
}

.linkDescription {
  composes: exampleDescription from "./ExampleCardLayout.module.css";
}
