.previewCard {
  composes: exampleCard from "./ExampleCardLayout.module.css";
}

.previewContent {
  composes: examplePreview from "./ExampleCardLayout.module.css";
}

.variationList {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.variationCard {
  composes: exampleCard from "./ExampleCardLayout.module.css";
}

.variationContent {
  composes: examplePreview from "./ExampleCardLayout.module.css";
}
