.list {
  display: block;
  list-style: none;
  padding: 0 0;
  margin: 0;
  box-sizing: border-box;
}

.listItem {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}

.listItemLabel {
  display: block;
  font: var(--sidebarListItemFont);
  letter-spacing: 0;
  box-sizing: border-box;
}

.listItemLabelArea {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: var(--controlTextColor);
  padding: 6px;
  box-sizing: border-box;
  border-radius: var(--sidebarListItemBorderRadius);
}

.listItemChildren {
  width: 100%;
  padding: 0.5em 0;
  box-sizing: border-box;
  display: block;
}
