.base {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: grid;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--appMainToolbarHeight, 52px);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
